@use 'base';
// Dekstop first
// Passwords section
// Password text and filter
.passwordsFilter {
  @extend %d-flex-space-between;
  padding-bottom: 1.5rem;
  // Password text
  &__name {
    @extend %medium-font-size;
    color: base.$secondary-color;
    line-height: 1.875rem;
  }
  // Select input
  &__select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('https://cdn-icons-png.flaticon.com/512/60/60995.png');
    background-position: 90%;
    background-size: 0.5rem;
    background-repeat: no-repeat;
    background-color: base.$white-color;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    width: 15%;
    &:hover {
      cursor: pointer;
    }
    @media screen and (max-width: 900px) {
      width: 20%;
    }
    @media screen and (max-width: 768px) {
      width: 8rem;
    }
    @media screen and (max-width: 568px) {
      width: 7.5rem;
    }
  }
}
// Password list
.password {
  @extend %d-flex-collumn;
  max-width: 1200px;
  counter-reset: section;
  // Single password with count
  &__box {
    @extend %d-flex-left;
    border-top: 1px solid #e8e8e9;
    padding: 1.5rem 0 1.5rem 0;
    &::before {
      counter-increment: section;
      content: counter(section) '.  ';
    }
    &:last-child {
      border-bottom: 1px solid #e8e8e9;
    }
  }
  // Password
  &__value {
    padding-left: 1.75rem;
    font-weight: 700;
  }
  // Password count
  &__count {
    margin-left: auto;
  }
  // Button (show more (50) show less) wrapper
  &__buttonWrapper {
    padding: 3.125rem 0 0 0;
    text-align: center;
    padding-bottom: 6rem;
    @media screen and (max-width: 768px) {
      padding: 2rem 0;
    }
  }
}

// FAQ section
// Section
.questions {
  background-color: #f8f8f8;
  padding-bottom: 6rem;
}
// The questions accordion
.accordion {
  background-color: base.$white-color;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  padding: 0.5rem;
  margin: 0.5rem auto;
  transform: translateZ(0);
  width: 62%;
  @media screen and (max-width: 768px) {
    width: 98%;
  }
  // Toggler
  & > &__toggle {
    display: none;
  }
  // If the input is checked then content box will be showed
  &__toggle:checked ~ &__contextBox {
    height: 12.5rem;
  }
  // If input is checked then the icon will be rotated
  &__toggle:checked ~ &__title svg {
    transform: rotate(180deg);
  }
  // Icon
  &__title svg {
    font-size: 1.3rem;
  }

  // Question (label)
  &__title {
    @extend %d-flex-space-between;
    color: base.$secondary-color;
    position: relative;
    font-weight: 700;
    cursor: pointer;
    padding: 1rem;
  }

  // Context box
  & > &__contextBox {
    height: 0;
    transition: 0.3s all;
    overflow: hidden;
    width: 85%;
  }
  // ContextBox and context
  & > &__contextBox &__context {
    color: base.$secondary-color;
    font-size: 1rem;
    padding: 0 1rem 0 1rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
  }
}
