@use 'base';
// Dekstop first
// Background position in div element
.image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
