@use 'base';
// Dekstop first
// Navigation
.nav {
  @extend %small-font-size;
  @media screen and (max-width: 900px) {
    background-color: base.$grey-color;
    padding: 2rem;
    width: 100%;
    overflow: hidden;
    // Navigation animation (used when window is smaller than 900xp)
    animation: fadeIn 0.3s;
  }
  // Navigation list of links
  &__list {
    @extend %d-flex-space-between;
    list-style: none;
    @media screen and (max-width: 900px) {
      flex-direction: column;
    }
  }
  // Single navigation list item
  &__item {
    @media screen and (max-width: 900px) {
      padding: 0.5rem;
    }
  }
  // Navigation link item
  &__link {
    @extend %small-font-size;
    color: base.$black-color;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
      color: base.$primary-color;
    }
  }
}
