@use 'base';
// Dekstop first
.section {
  @extend %m-center;
  max-width: 1200px;
  @media screen and (max-width: 1200px) {
    padding: 0 50px;
  }

  &__text {
    @extend %large-font-size;
    color: base.$secondary-color;
    font-weight: 700;
    line-height: 3.313rem;
    text-align: center;
    padding: 3.125rem;
  }
}
